<div class="jumbotron text-center">
    <h1>Home Page 4 Life</h1>

    <p>{{ tagline }}</p>

    Nerds <br/>
	<div class="row">    
	<form class="col-sm-4">
	  <div class="form-group">
	    <label for="exampleInputEmail1">First Name</label>
	    <input ng-model="nerd.firstName" class="form-control" placeholder="First Name">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Last Name</label>
	    <input ng-model="nerd.lastName"  class="form-control" placeholder="Last Name">
	  </div>
	 
	  <button class="btn btn-default" ng-click="saveNerd()">Submit</button>
	</form>
	</div>
<br/>
<br/>
<br/>
	<div class="row"> 
	<table border="2" style="width:50%;">
		<tr ng-repeat="nerd in nerds">
			<td>{{$index + 1}}</td>
			<td>{{nerd.firstName}}</td>
			<td>{{nerd.lastName}}</td>
			<td><a ng-click="deleteNerd(nerd._id)">delete</a> <a ng-click="loadNerd(nerd._id)">Update</a></td>	
		</tr>
	</table>
	</div>
</div>